html {
    box-sizing: border-box;

}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

a{
    display: inline-block;
    text-decoration: none;
    color: $text;
}

html,
body {
    height: 100%;
    // overflow-x: hidden;
    // position: relative; МОГУ ПРИГОДЯТСЯ
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    outline: none;
    overflow-x: hidden;
   
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-fluid {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 100%;
}

@media (max-width: 720px) {
    .container-fluid {
        padding: 0 15px;
    }
}
