@import '_vars';
@import '_global';
@import '_fonts';

//header
.header__top {
    width: 100%;
    background-color: #e0e3e6;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-top: 20px;
    margin-bottom: 35px;
}

.header__box{
    width: 570px;
    position: relative;
    .header__btn{
        background-color: $light-blue;
        margin-top: 5px;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 27px;
        text-align: center;
        width: 170px;
        color: #fff;
    }
    .header__option {
        padding-left: 20px;
        margin-left: 10px;
        font-size: 17px;
        color: $medium-gray;
        
    }
    .header__circle {
         position: relative;
        span {
            position: absolute;
            bottom: 11px;
            left: 33px;
            color: #fff; 
            width: 23px;
            height: 22px;
            border-radius: 50%;
            text-align: center;
            line-height: 18px;
            font-size: 14px;
        }   
        .red {
            width: 27px;
        }
    }  
    
    .header__bell {
        span {
            background-color: $pink;
        }
    }
    .header__message {
        span {
            background-color: $green;
        }
    }
    .header__basket {
        span {
            background-color: $light-blue;
        }
    }
}

.header__user {
    position: absolute;
    top: 0px;
    right: 110px;
    &-img {
        position: relative;
    }
    
    &-name {
        color: #000;  
    }
    &-bucks {
        color: $light-blue;
    }
    &-data {
        width: 105px;
        position: absolute;
        top: 1px;
        left: 70px;
    }
}
.header__menu {
    position: relative;
}

.menu {
    height: 60px;
}

.menu__list {
    text-transform: uppercase;
    color: #fff;
    @include f700;
    font-size: 15px;

    display: flex;
    li:first-child {
        padding-left: 0;
    }
    li {
        
        padding-left: 20px;
    }
    a {
        color: #000;
        
    }
}

.header__search {
    position: absolute;
    top: -10px;
    right: 240px;
    input {
        display: block;
        width: 290px; 
        box-shadow: 0px 1px 10px 0px rgba(172,179,186,0.75);
        padding: 20px 0;
        padding-left: 25px;
        border-radius: 70px;
        height: 27px;
        font-size: 15px;
        border: none;
        position: relative;
    }
    button {
        position: absolute;
        top: 0;
        right: -42px;
        width: 70px;
        height: 41px;
        background-color: $light-blue;
        border-radius: 40px;
        border: none;
    }
    .icon-search {
        color: #fff;
        font-size: 15px;
    }
}

.header__inner {
//    При адпатаации игарй с эти рамзерами
    width: 100%;
    min-width: 1200px;
    height: 730px;
    background-color: $blue;
    color: #fff;
    margin-bottom: 100px; 
}

.header__inner-info {
    padding: 150px 50px;

    width: 100%;
    
}

.header__inner-title {
    width: 1000px;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    margin-bottom: 70px;
    
    span {
        @include f700;
        
    }
    p {
        font-size: 18px;
    }
}

.header__inner-buttons {
    padding-left: 300px;
    display: block;
    button:first-child {
        margin-left: 0;
    }
    button {
        
        transition: all .5s;
        width: 220px;
        height: 51px;
        cursor: pointer;
        background-color: $blue;
        border-radius: 40px;
        border: none;
        color: #fff;
        margin-left: 30px;
        border: 1px solid #fff; 
    &:hover {
        background-color: #fff;
        color: $light-blue;
    }
  }
}

.header__block-first {
    max-width: 1080px;
    width: 100%;
    height: 100px;
    background-color: rgba(144, 162, 226, 0.75);
    border-radius: 6px;
    position: relative;
}
.header__block-second{
    min-width: 1120px;
    
    height: 100px;
    background-color: rgba(144, 162, 226, .65);
    border-radius: 6px;
    
    position: absolute;
    top: 10px;
    right: -20px;
}

.header__block-third {
    min-width: 1150px;
    
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 1px 10px 0px rgba(172,179,186,1.75);
    border-radius: 6px;
    
    position: absolute;
    top: 15px;
    right: -20px;
}

.header__block{ 
    padding: 30px;
    color: $text;
    .header__block-search {
        display: block;
        position: relative;
    }
    input {
        width: 650px;
        padding: 10px 35px; 
        border: 1px solid $light-gray;
        border-radius: 5px;
    }
    .header__block-category {
        position: absolute;
        bottom: -1px;
        right: 245px;
        border-radius: 5px;
        width: 200px;
        border: 1px solid $light-gray;
        padding: 8px 35px; 
        border-left: none;
    }
    a {
        position: relative;
    
    &::before {
        content: '\ea43';
        font-family: 'icomoon';
        position: absolute;
        top: -17px;
        left: 27px;
        font-size: 14px;
    }
  } 
  &-button {
      width: 220px;
      border: 1px solid $light-gray;
      padding: 10px 35px; 
      border-radius: 5px; 
      position: absolute;
      bottom: 30px;
      right: 25px;
      
      color: #fff;
      background-color: $light-blue;
      
      &:hover {
          color: #abb3cf;
          transition: 0.5s;
      }
   }      
}

///choose-foxtar
.choose {
    &-foxtar {
        padding: 80px 0;
        background-color: #fff;    
    }
    &-items {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }
    &-item {
        width: 420px;
        height: 383px;
        text-align: center;
        padding-right: 11px;
        padding-top: 40px; 
        &:hover {
            box-shadow: 0px 3px 35px 10px #acb3ba;
            transition: .8s;
        }
    }
    
    &-sentence {
        padding-bottom: 30px;
        font-size: 21px;
        font-weight: 500;
        padding-top: 20px;
    }
    &-text {
       padding-left: 21px ;
    }
  
}

//weekly-products
.weekly-products {
    background-color: #cdd5e5;
    padding: 120px 0;
}

.weekly__wrapper {
    max-width: 1920px;
}

.weekly__title {
    height: 105px;
    background-color: #fff;
    position: relative;
    &-arrows {
        position: absolute;
        top: 35px;
        right: 30px; 
        background-color: $violet;
        border-radius: 20px;
        width: 75px;
        height: 30px;
        border: none;
        
       } 
    &-chevron {
        color: $light-gray;
        font-size: 14px;
        position: relative;
    }
    &-left {
        position: absolute;
        top: 8px;
        left: 16px;   
    }
    &-right {
        position: absolute;
        top: 8px;
        right: 14px;
    }
}

.followers__title  {
    height: 105px;
    background-color: #fff;
    position: relative;
    &-arrows {
        position: absolute;
        top: 35px;
        right: 30px; 
        background-color: $light-blue;
        border-radius: 20px;
        width: 75px;
        height: 30px;
        border: none;
        
       } 
    &-chevron {
        color: $light-gray;
        font-size: 11px;
        position: relative;
    }
    &-left {
        position: absolute;
        top: 10px;
        left: 16px;   
    }
    &-right {
        position: absolute;
        top: 10px;
        right: 14px;
    }
}
    
.title {
    font-size: 30px;
    padding: 40px 30px;

}

.weekly__inner-box {
    position: relative;
}

.weekly__inner {
    padding-top: 50px;
    &-box {
        height: 450px;
        background-color: #fff;
    }
    &-img {
        background-color: $medium-gray;
        max-width: 550px;
        width: 100%;  
        height: 450px; 
        position: relative;
        button {
            display: none;   
        }
    &:hover {
        background: linear-gradient(to top right, #8E2DE2, #4A00E0);
        button {
             display: inline-block;
             width: 120px;
             border: 1px solid #fff;
             padding: 10px 35px; 
             margin-right: 10px;
             border-radius: 19px; 
             color: #fff;
             background: $blue;
             cursor: pointer;
             font-size: 17px;
             transition: 0.6s;
        }
     }  
  }
}

button.weekly__button-info {
    position: absolute;
    top: 220px;
    left: 150px;
    
    &:hover {
        color: $blue;
        background-color: #fff ;
    }
}

button.weekly__button-demo {
    position: absolute;
    top: 220px;
    right: 130px;
    &:hover {
        color: $blue;
        background-color: #fff;
    }
}

.weekly__inner {
    position: relative;
    &-content {
        padding: 40px 0 25px;
        width: 500px;
        
        position: absolute;
        top: 10px;
        right: 35px;
    }
    &-title {
        font-size: 21px;
        @include f700;  
        padding-bottom: 17px;
    }  
}

.weekly__info {
       padding-right: 10px; 
       padding-bottom: 20px;
       position: relative;
    &-block {  
        position: absolute;
        top: 3px;
        left: 39px;
    }
    &-name {
        color: #000;
        font-size: 15px;
        @include f700; 
    }
    &-icon {
        color: $violet;
        padding: 0 10px;
        &::before {
            padding-right: 10px;    
        } 
    }
    &-text {
        font-size: 17px;
        padding-bottom: 30px;
    }
    &-buttons {
        padding-bottom: 40px;
        border-bottom: 1px solid $light-gray;
    }
    &-button {
        border: none;
        background-color: $light-gray;
        padding: 8px;
        border-radius: 11px;
        cursor: pointer;
        margin-right: 7px;  
    }
}

.weekly__item {
    padding-top: 25px;
    display: flex;
    
    &-money {
        padding: 3px 16px;
        background-color: $light-blue;
        border-radius: 13px;
        color: #fff;
        margin-right: 20px;
    }
    &-like {
        padding-top: 7px;
        padding-right: 20px;
        color: $light-blue;
        span {
            color: $medium-gray;
        }
    }
    &-busket {
        padding-top: 7px;
        padding-right: 20px;
        color: $medium-gray;
    }
    &-star {
        position: absolute;
        right: 0;
        padding-top: 9px;
        
    }
}

.newest-release {
    background-color: $light-gray;
    padding: 110px 0 30px;
    position: relative;
}
.newest__products{
    height: 105px;
    background-color: #fff;
    position: relative;
      &-menu {
        position: absolute;
        right: 249px;
        bottom: -150px;
        border-radius: 2px;
        width: 200px;
        height: 200px;
        background-color: #fff;
        padding: 30px 50px 15px 30px; 
        box-shadow: 6px -5px 10px -1px rgba(172,179,186,0.75);
        z-index: 1;
          &::before {
                content: ''; 
                position: absolute; 
                right: 16px; 
                top: -27px;
                border: 10px solid transparent; 
                border-bottom: 17px solid #e7e7e7; 
          }
    li {
        padding-bottom: 5px;
       }
       a {
            &:hover {
               color: $light-blue;
                transition: .3s;
       }   
    }
  } 
    
    &-filter {
        position: absolute;
        top: 40px;
        right: 40px;
        font-size: 19px;
        span {
         
            padding-left: 10px;
            font-size: 16px;
            color: $medium-gray;
        }
    }
 
}


//products
.products {
    background-color: $light-gray;
    
    &-buttons {
        background-color: #fff;
        height: 90px;
        padding: 25px;
        margin-bottom: 20px;
    }
    button {
        margin-right: 10px;
        border-radius: 12px;
        border: none;
        width: 120px;
        height: 40px;
        background-color: $light-gray;
        color: $medium-gray;
        &:hover {
             background-color: $light-blue;
             color: $light-gray;
             transition: all .5s;
             cursor: pointer;
        }
    }
}
.products-blocks {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 120px;
}

.product__block {
    padding-right: 13px;
    &-img {
        background-image: url(../img/new-products/BG-copy.jpg);
        max-width: 357px;
        width: 100%;  
        height: 230px; 
        border-radius: 3px;
        position: relative;
        button {
            display: none;   
        }
    &:hover {
        background: linear-gradient(to top right, #8E2DE2, #4A00E0);
        button {
             position: absolute;  
             display: inline-block;
             width: 120px;
             border: 1px solid #fff;
             padding: 10px 35px; 
             margin-right: 10px;
             border-radius: 19px; 
             color: #fff;
             background: $blue;
             cursor: pointer;
             font-size: 17px;
             transition: 0.6s;
           
        }

     }  
  }
}
.followers {
    background-color: #cdd5e5;
}

.followers__block {
    padding-top: 30px;
    padding-right: 25px;
    margin-right: 5px;
    &-img {
        width: 350px;
  }
}
.followers__desc {
    padding: 30px;
    width: 350px;
    height: 330px;
    background-color: #fff;
    border-radius: 3px;
}

button.button-info {
    position: absolute;
    top: 100px;
    left: 40px;
        &:hover {
        color: $blue;
        background-color: #fff;
    }
}

button.button-demo {
    position: absolute;
    top: 100px;
    right: 40px;
        &:hover {
        color: $blue;
        background-color: #fff;
    }
}
.product__desc {
    padding: 30px;
    width: 360px;
    height: 305px;
    background-color: #fff;
    border-radius: 3px;
    &-title {
        font-size: 20px;  
        @include f700;
        padding-bottom: 20px;
    }
    &-name {
        display: flex;
        padding: 10px 0;
    }
    &-theme {
        padding: 0 10px;
        padding-top: 3px;
        @include f700;
    }
    &-icon {
        color: $violet;
        padding: 0 10px;
        padding-top: 5px;
        &::before {
            padding-right: 10px;
        }
    }
    &-text {
        padding-bottom: 30px;
    }
}

.product__item {
    padding-top: 25px;
    display: flex;
    position: relative;
    border-top: 1px solid #d9dfe5;
    
    &-money {
        padding: 3px 16px;
        background-color: $turq;
        border-radius: 13px;
        color: #fff;
        margin-right: 20px;
    }
    &-like {
        padding-top: 7px;
        padding-right: 20px;
        color: $light-blue;
        span {
            color: $medium-gray;
        }
    }
    &-star {
        position: absolute;
        top: 24px;
        right: 62px;
    }
    &-busket {
        position: absolute;
        top: 25px;
        right: -17px;
        
        padding-top: 7px;
        padding-right: 20px;
        color: $light-blue;
    }
}  
.products-new {
    padding-top: 60px;
      button { 
        
        margin-right: 10px;
        border-radius: 28px;
        border: none;
        width: 195px;
        height: 60px;
        background-color: $light-blue;
        color: #fff;
        &:hover {
             background-color: $blue;
             color: $light-gray;
             transition: all .5s;
             cursor: pointer;
        }
    }
}

.followers-feed {
    background-color: $thin-gray;
    padding: 110px 0 30px;
    position: relative;
}

//logo-info
.facts-info {
    height: 350px;
    background-color: $blacky;
}
.fact__blocks {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.fact__block {
    width: 270px;
    height: 220px;
    text-align: center;
    &-img {
        font-size: 48px;
        padding-bottom: 35px;
    }
    &-number {
        font-size: 36px;
        color: $orange;
        padding-bottom: 15px;
    }
    &-text {
        color: #fff;
    }
    &-orange {
        color: $orange;
    }
    &-blue {
        color: $light-blue;
    }
    &-green {
        color: $green;
    }
    &-pink {
        color: $pink;
    }
}

//why-choose
.why__choose {
    background-color: #fff; 
    &-title {
        text-align: center;
        font-size: 36px;
        padding-bottom: 30px;
    
    span {
        text-align: center;
        color: $light-blue;
    }   
  }
     &-text {
         padding-bottom: 50px;
    } 
}

//why__martplace
.why__martplace-object {
    padding-top: 110px;
}

.why__martplace-objects {
    display: flex;
    flex-wrap: wrap; 
    padding-bottom: 115px;
}

.why__martplace {
    width: 350px;
    height: 350px;
    margin-top: 30px;
    margin-right: 30px;
    
    border-radius: 3px;
    box-shadow: 6px -2px 5px 8px rgba(172,179,186,0.3);
    &-number {
        font-size: 48px;
        color: $light-gray;
        padding: 20px;
    }
    &-block {
        text-align: center;
    }
    &-img {
        font-size: 48px;
        color: $light-blue;
        padding-bottom: 50px;
    }
    &-title {
        font-size: 24px;
        padding-bottom: 30px;
    }
    &-text {
        font-size: 14px;
    }
    
    &-violet {
        color: $violet;
    }
    &-green {
        color: $green;
    }
    &-orange {
        color: $orange;
    }
    &-blue {
        color: $turq;
    }
    &-pink {
        color: $pink;
    }
}

//sell__buy
.sell-buy {
   background-image: url(../img/sell/BGDouble.jpg); 
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;    
   display: flex;
   justify-content: center;
   align-items: center; 
   min-height: 560px;
    
   margin-bottom: 100px;
    
   position: relative;    
}

.sell__block {
    position: absolute;
    top: 110px;
    left: 100px;
    width: 600px;
    text-align: center;
    &-title {
        padding-top: 45px;
        color: #fff;
        font-size: 36px;
    }
    &-text {
        padding-top: 25px;
        color: #fff; 
        padding-bottom: 50px;
    }
    button {
        margin-right: 10px;
        border-radius: 28px;
        border: none;
        width: 195px;
        height: 60px;
        background-color: #fff;
        color: $light-blue;
        cursor: pointer;
        &:hover {
            background-color: $blue;
            color:  #fff; 
            transition: .5s;
        }
    }
}

.buy__block {
    position: absolute;
    top: 110px;
    right: 100px;
    width: 600px;
    text-align: center;
    &-title {
        padding-top: 45px;
        color: #fff;
        font-size: 36px;
    }
    &-text {
        padding-top: 25px;
        color: #fff; 
        padding-bottom: 50px;
    }
    button {
        margin-right: 10px;
        border-radius: 28px;
        border: none;
        width: 195px;
        height: 60px;
        background-color: #fff;
        color: $violet;
        cursor: pointer;
        &:hover {
            background-color: $violet;
            color:  #fff; 
            transition: .5s;
        }
    }
}

//clients
.clients {
    display: flex;
}


.clients__block {
    width: 550px;
    height: 215px;
    margin-right: 20px;
    border-left: 3px solid $light-blue;
    border-right: 4px;
    margin-bottom: 80px;
    box-shadow: 0px 3px 17px 8px #f6f6f6;;
    &-author {
        display: flex;
        padding-top: 30px;
        padding-left: 30px;
        position: relative;
    }
    &-user {
        padding-left: 20px;
    }
    &-prof {
        color: $medium-gray;
    }
    &-img {
        position: absolute;
        top: 20px;
        right: 44px;
        
        font-size: 50px;
        color: $medium-gray;
    }
    &-text {
        padding-top: 10px;
        padding-left: 30px;
        width: 485px;
    }
}

.clients__reviews {
    padding-bottom: 75px;
    padding-top: 100px;
    position: relative;
    button {
        position: absolute;
        top: 0;
        right: 40%;
        cursor: pointer;
        margin-right: 10px;
        border-radius: 28px;
        border: none;
        width: 195px;
        height: 60px;
        background-color: #0674ec;
        color: #fff;  
  }
}


//latest-news
.latest-news {
    background-color: $light-gray;
}
.latest {
    padding-top: 100px;

    &__block {
        width: 361px;
        padding-bottom: 115px;
    }
    &__info {   
        height: 220px;
        background-color: #fff;
        padding: 20px;
        &-title {
            @include f700
            font-size: 21px;   
            padding-bottom: 20px;
        }
        &-text {
            font-size: 16px;
            padding-bottom: 20px;
        }
    }
}

.latest-blocks {
    display: flex;
    justify-content: center;
   
}
.latest__block {
     margin-right: 25px;
}

.latest__static {
    height: 60px;
    background-color: #fff;
    margin-top: 1px;
    padding: 20px 30px;
    position: relative;
    color: $medium-gray;
    &-clock {
        color: $light-blue;
        span {
            color: $medium-gray;
        }
    }
    &-user {
       display: flex;
       position: absolute;
       top: 10px;
       right: 10px;
       padding: 10px 30px;
       border-left: 1px solid $light-gray;
    }
    &-comment {
        padding-right: 10px;
    }
}

//support
.support {
    background-color: white;

}
.support__guarentee {
        height: 300px;
        padding-top: 45px;
        padding-bottom: 45px;
        text-align: center;
        display: flex;
        justify-content: space-around;
    &-img {
        padding-bottom: 20px;
    }
    &-text {
        font-size: 24px;
    }
    span {
        color: $light-blue;
    }
    .violet {
        color: $violet;
    }
}

    
///join-our
.join-our {
    background: linear-gradient(to top right, #8E2DE2, #4A00E0);;
    height: 400px;
}
.ready__join {
    color: #fff;
    padding-top: 100px;
    text-align: center;
    &-title {
        font-size: 35px;
        padding-bottom: 25px;
    }
    &-text{
        font-size: 18px;
        padding-bottom: 50px;
    }
    &-btn {
        margin-right: 10px;
        border-radius: 28px;
        border: none;
        width: 195px;
        height: 60px;
        background-color: #fff;
        color: $light-blue;
        cursor: pointer;
        &:hover {
            background-color: $blue;
            color:  #fff; 
            transition: .5s;
        }
     }
}

//footer
footer {
    height: 525px;
    background-color: #262b30;
}
.footer__copy {
    margin-top: -7px;
    height: 95px;
    background-color: $blacky;
    text-align: center;
    &-text {
        padding-top: 35px;
        color: $light-gray;
        span {
            color: #fff;
        }
    } 
}

.footer__inner {
    color: $light-gray;
    padding: 110px 0;
    display: flex;
    justify-content: space-between;
}
.footer__col {
    max-width: 270px;
    width: 100%;
    &-text {
        padding-top: 30px;
        padding-bottom: 20px;
        line-height: 28px;
    }
}
.footer__info {
    
    &-icon {
        color: $light-gray;
        font-size: 18px;
        line-height: 32px;
    }
}

.footer__col-menu {
    max-width: 200px;
    margin-left: 50px;
}
.footer__col {
    &-title {
        color: #fff;
        font-size: 18px;
        padding-bottom: 50px;
  }
    &-list a {
        line-height: 34px;
        color: $light-gray;
    }

}

.footer__col-social {
    max-width: 370px;
    form {
       position: relative; 
        input {
            display: block;
            width: 290px; 
            padding: 20px 0;
            padding-left: 25px;
            border-radius: 70px;
            height: 50px;
            font-size: 15px;
            border: none;
            
    }
        button {
        position: absolute;
        top: 0;
        right: 10px;    
        width: 111px;
        color: #fff;
        height: 50px;
        background-color: $light-blue;
        border-radius: 40px;
        border: none;
    }
  }
}
.footer__col-subscribe {
    line-height: 32px;
    padding-bottom: 20px;
}

.footer__social-link {
    display: flex; 
    padding-top: 50px;
    li {
      padding-right: 15px;
    }
}




